p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #afafaf;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5em;
}

h3{
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
}
#title {
  background-color: #ff4c68;
}

#logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  padding: 0 0 3rem;
}
.container-fluid {

  padding-bottom: 7%;

}
.title-buttons {
  margin-bottom:  4rem;

}
.phone-image {
  transform: rotate(25deg);

  width: 300px;

  padding-top: 0;

  margin-bottom: -200px;

  position: relative;

  margin-left: 30%;




}

#navbarcollapser {
  font-family: "Ubuntu", sans-serif;
}

/* Features CSS  */
 #features {
   position: relative;

   text-align: center;

   padding: 8% 15%;

   z-index: 3;

   background-color: white;
 }

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  font-size: 6rem;
  color: #ef8172;
  padding: 0 0 1rem 0;

}
.icon:hover {
  color: #ff4c68;
}


/* Testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #ffff;

}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  z-index: -1;
}
.carousel-item {
  padding: 7% 15%;
}


/* Press section  */

#press {
  text-align: center;
  background-color: #ef8172;
  padding: 0 0 3% 0;
}

.press-logo {

  width: 15%;
  margin: 20px 20px 50px
}


/* Pricing section */
 #pricing {
   margin: 100px;

 }

.pricing-column {
  padding: 3% 2%;
}




/*             fonts:


font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/
