
/* body {
  background: linear-gradient(#ff4c68,#bb8082);
} */
#title {
  background-color: #ff4c68;
}
#logo {
  font-family: "Ubuntu",sans-serif;
  font-size: 2.5rem;
  padding: 0 0 3rem;
}

h1 {
  font-family: 'Montserrat',sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}

#navbarcollapser {
  font-family: "Ubuntu",sans-serif;
  
}


/*             fonts:


font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/
